name: Main Status

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore /m

    - name: Test
      run: >-
        dotnet test
        --no-build
        --verbosity normal
        --logger trx
        --collect:"XPlat Code Coverage"
        -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=opencover
      env:
        GitHubActor: ${{ github.actor }}
        GitHubAccessToken: ${{ secrets.GITHUB_TOKEN }}
        #GitHubTestRepoAddress: "github.com/${{ github.actor }}/${{ github.repository }}.Tests.git"
    - name: Codecov
      # You may pin to the exact commit or the version.
      # uses: codecov/codecov-action@fcebab03f26c7530a22baa63f06b3e0515f0c7cd
      uses: codecov/codecov-action@v1.3.1
      with:
        # Repository upload token - get it from codecov.io. Required only for private repositories
        token: ${{ secrets.CODECOV_TOKEN }}
        # Directory to search for coverage reports.
        directory: ./
