name: .NET Build & Test

on:
  push:
    branches: [ "feature/*", "bugfix/*", "hotfix/*" ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.101
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
      env:
        GitHubAccessToken: ${{ secrets.GITHUBACCESSTOKEN }}
